.memoContainer {
  margin-bottom: 30px;
  background-color: white;
  color: black;
  padding: 10px 10px;
  border-radius: 5px;
  line-break: anywhere;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}