.app {
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  min-height: 100vh;
}

.app-heading {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.input-conatiner {
  padding: 60px 0 40px;
  margin-bottom: 40px;
  display: flex;
  border-bottom: solid 1px gray;
}

.memo-input {
  height: 40px;
  border-radius: 8px;
  margin-right: 30px;
  flex: 2;
  border: none;
}

.end-day-button {
  flex: 1;
  border-radius: 8px;
  border: none;
}

@media only screen and (min-width: 600px) {
  .app-heading {
    font-size: 2rem;
  }
}
